---
import { changeLanguage } from "i18next";
import Menu from "../components/vue/Menu.vue";
import Select from "../components/vue/Select.vue";
import InputMask from "../components/vue/InputMask.vue";
import Layout from "../layouts/Layout.astro";

changeLanguage("en");

const salutAstro = "Salut Astro!";
---

<Layout title="Welcome to Tailwind Page">
  <Menu client:load />
  <div>
    <h3>INPUT MASK</h3>
    <InputMask client:load/>
  </div>
  <div class="flex items-center justify-center">
    <h1 class="text-3xl font-bold underline">
      {salutAstro}
    </h1>
    <Select />
  </div>
  <div class="mockup-window border bg-base-300">
    <div class="flex justify-center px-4 py-16 bg-base-200">Hello!</div>
  </div>
  <div class="mockup-phone">
    <div class="camera"></div> 
    <div class="display">
      <div class="artboard artboard-demo phone-1">Hi.</div>
    </div>
  </div>
</Layout>
