---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import i18next, { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
---

<!DOCTYPE html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={t("site.description")}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{t("site.title")}</title>
		<HeadHrefLangs />
	</head>
	<body>
		<slot />
	</body>
</html>
